node_modules/
*Zone.Identifier

# Ignore build files
/frontend/dist

# Ignore Python virtual environments and cache files
.venv/
*/__pycache__/
*.pyc
.mypy_cache/

# Ignore database files
*.db

# Except for the demo books.db file
!/backend/books.db

# Ignore SSL/TLS keys and certificates
*.pem

# Ignore vim swap files
*.swp
